* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

nav {
  background: darkred;
  border-bottom: goldenrod 3px solid;
}

.pokemon-list {
  list-style-type: none;
}

.button-class {
  width: 100%;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px #718285;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #FEF9D9;
  color: black;
  border: 2px solid goldenrod;
}

.button-class:hover {
  color: white;
  background: #990000;
  border: 2px solid goldenrod;
  opacity: .8;
}

.modal-img {
  display: block;
  width: 50%;
}

footer {
  background: darkred;
  border-top: goldenrod 3px solid;
}